{% extends "blog/layout.html" %}

{% block content %}

<div class="row">
  <div class="col-md-9">
      {% for about in aboutpage %}
        <div>
          <h2><a href="#">{{ about.title }}</a></h2>
          <p>{{ about.text|linebreaks }} </p> </div>
          <br />
        {% endfor %}
  </div>
  <div class="col-md-3">
    <h2><a href="{% url 'events' %}">Upcoming Events</a></h2>
    {% for event in events %}
      <div>
        <h4>{{ event.name }} </h4>
        <p><strong>Location:</strong> {{ event.location }} </p>
        <p><strong>Date:</strong> {{ event.fromdate }} -  {{ event.todate }}</p>
        <p><strong>Website:</strong> <a href="">{{ event.website }}</a></p>
        <br />
      {% endfor %}
</div>
</div>
</div>
{% endblock %}
