{% extends "blog/layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-6">
<h3>{{ message }}</h3>
        <br />

<address>
    <strong>Anntele Business Solutions P/L</strong><br />
    30 Arundel School Road<br />
    Mount Pleasant, Harare<br />
    Zimbabwe<br />
    <abbr title="Phone">P:</abbr>
    +263 8611 272 431
</address>

<address>
    <strong>Marketing:</strong> <a href="mailto:anna@anntele.com">anna@anntele.com</a>
</address>

</div>


    <div class="col-md-6">
        <h3>Send me an email:</h3>
        <br />
        {% load crispy_forms_tags %}
        {% crispy contact_form contact_form.helper %}
         <form action="{% url 'contact' %}" method=post>
          {% csrf_token %}
          {{ form }}
          </form>
    </div>
</div>
{% endblock %}
