{% extends "blog/layout.html" %}

{% block content %}
<div>

</div>
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
{% for event in events %}
 {% if event.todate < datetime.now %}
  <div>
    <h3>Events</h3>
    <h2>{{ event.name }} </h2>
    <p><strong>Location:</strong> {{ event.location }} </p>
    <p><strong>Date:</strong> {{ event.fromdate }} -  {{ event.todate }}</p>
    <p><strong>Website:</strong> <a href="">{{ event.website }}</a></p>
    <p>{{ event.comments }} </p> </div>
    <br />
  {% else %}
  <div>
    <h3>Previous Events</h3>
    <h2>{{ event.name }} </h2>
    <p><strong>Location:</strong> {{ event.location }} </p>
    <p><strong>Date:</strong> {{ event.fromdate }} -  {{ event.todate }}</p>
    <p><strong>Website:</strong> <a href="">{{ event.website }}</a></p>
    <p>{{ event.comments }} </p> </div>
  {% endif %}
  {% endfor %}
  </div>
  <div class="col-md-1">

</div>
</div>
{% endblock %}
