{% extends "blog/layout.html" %}

{% block content %}
<div>
  <h3>Upcoming Events</h3>
</div>
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
{% for event in events %}
  <div>
    <h2>{{ event.name }} </h2>
    <p>{{ event.location }} </p>
    <p>Date(s): {{ event.fromdate }} -  {{ event.todate }}</p>
    <h2><a href="">{{ event.website }}</a></h2>
    <p>{{ event.comments }} </p> </div>
    <br />
  {% endfor %}
  </div>
  <div class="col-md-1">

</div>
</div>
{% endblock %}
