{% extends "blog/layout.html" %}

{% block content %}
<div>

</div>
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
{% for event in events %}
   <div>
    <h2>Events</h2>
    <h3>{{ event.name }} </h3>
    <p><strong>Location:</strong> {{ event.location }} </p>
    <p><strong>Date:</strong> {{ event.fromdate }} -  {{ event.todate }}</p>
    <p><strong>Website:</strong> <a href="">{{ event.website }}</a></p>
    <p>{{ event.comments }} </p> </div>
    <br />
  {% endfor %}
  </div>
  <div class="col-md-1">

</div>
</div>
{% endblock %}
