{% extends "blog/layout.html" %}

{% block content %}
<div>

</div>
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-7">
      {% for article in <article class="">

      </article>s %}
        <div>
          <h2><a href="{% url 'post_detail' pk=article.pk %}">{{ article.title }}</a></h2>
          <p>{{ article.summary }} </p> <a href="{% url 'post_detail' pk=article.pk %}">Read more...</a></div>
          <br />
        {% endfor %}
  </div>
  <div class="col-md-4">
    <h3><strong>Upcoming Events</strong></h3>
    {% for event in events %}
      <div>
        <h4>{{ event.name }} </h4>
        <p><strong>Location:</strong> {{ event.location }} </p>
        <p><strong>Date:</strong> {{ event.fromdate }} -  {{ event.todate }}</p>
        <p><strong>Website:</strong> <a href="">{{ event.website }}</a></p>
        <br />
      {% endfor %}
</div>
</div>

{% endblock %}
