{% extends "blog/layout.html" %}

{% block content %}
<div>
<h2><a href="{% url 'professional' %}">Professional Experience</a></h2>
</div>
<div>
<p> Anna has a strong telecoms and ICT background, having held various posts in
  different organisations. Anna started her career by working for Fbnet as
  Helpdesk Technician from June 2009 to August 2009. She left Fbnet to join the
  Women’s University in Africa in September 2009 as Senior ICT Technician,
  a position she held until February 2011 when she left Valley Technologies T/A
  Spiritage Communications as Network Operations Centre Technician in March 2011.
  Still with Spiritage Communications, Anna moved from the Network Operations
  Centre in May 2012 to join Billing and IT department as a Billing Analyst. </p>
  <br />
  <p>Anna left Spiritage in April to be contracted by rubiem Technologies as Senior
  Consultant BSS/OSS for their Mozambique Cellular (mcel) Converged Billing and
  CRM project in Mozambique from April 2013 to January 2014. She left rubiem
  Technologies to resume her Masters studies with Chinhoyi in January 2014.
  In May 2015, Anna joined the Muzinda Hub Entreprenurial and Digital Skills
  Training where she learnt entrepreneurial skills and Python programming
  language for 6 months. After completing her studies and graduating from both
  Chinhoyi and Muzinda, Anna then focused on establishing her company and teamed
  up with like-minded partners. Anna is proficient in ICTs, business process
  management and customer relationship management. </p>
<br />
  <p>Anna had plans to make a career in the software development industry since
    high school. However while studying for her undergraduate degree realised
    that it would be a more rewarding field for her if she understood how
    other ICT fields worked. This saw her becoming a career nomad, moving across
    the industry just to gain experience which would become versatile in her
    programming career. Muzinda offered her the opportunity she had been waiting
    for, a chance to learn programming and get back into the software development.
    Python couldn't be a better option too, with all its data science languages,
    it ushered a whole new era of data science and machine learning
    Anna had been dying to explore.</p>
  <br />

    <strong>It sure feels good to be coding once again!!!</strong>
</div>
{% endblock %}
