{% extends "blog/layout.html" %}

{% block content %}

<div class="row">
  <div class="col-md-9">
        <div>
        <h2><a href="#">{{ project.name }}</a></h2>
        <p><strong>Date:</strong> {{ project.startdate }} -  {{ project.enddate }}</p>
        <p><strong>Description:</strong> {{ project.description|linebreaks }}</a></p>
        <p><strong>Website:</strong> <a href="">{{ project.website }}</a></p>
        <p><strong>Comments:</strong> {{ project.comments|linebreaks }}</a></p>
      </div>
          <br />
  </div>
  <div class="col-md-3">
    <h2><a href="{% url 'events' %}">Upcoming Events</a></h2>
    {% for event in events %}
      <div>
        <h4>{{ event.name }} </h4>
        <p><strong>Location:</strong> {{ event.location }} </p>
        <p><strong>Date:</strong> {{ event.fromdate }} -  {{ event.todate }}</p>
        <p><strong>Website:</strong> <a href="">{{ event.website }}</a></p>
        <br />
      {% endfor %}
</div>
</div>
</div>
{% endblock %}
