/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header-wrapper
	{
		overflow: hidden;
		padding: 10em 0em 10em 0em;
		background: url(/static/blog/images/bg01.JPG) repeat-x center top;
		height:400px;
		border-bottom: 20px solid rgba(0,0,0,.5);
		background-repeat: no-repeat;
		background-size: cover;
	}

	#header
	{
	}


#navbar navbar-inverse navbar-fixed-top
{
	background-color: #FFFFFF;
	color: #032CA6;
}

#nav navbar-nav
li
{
	color: #032CA6;
}
#navbar-link
{
	color:#032CA6
}

#navbar-link:hover
{
	color:#FF0000
}
a
	{
		color: #032CA6;
	}

	a:hover
	{
		text-decoration: none;
		color: #FF0000;
	}
}

#btn btn-default
{
	color: FF0000;
}
